.constant {
	margin: 100px auto;
	background: #231e39;
	border-radius: 5px;
	width: 350px;
	text-align: center;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,.75); 
    color:#b3b8cd;

}
.cover-photo {
	background:url(../images/back.jpg);
	height: 160px;
	width: 100%;
	border-radius: 5px 5px 0 0;
}
.profile {
	height:120px; 
	width:120px;
	border-radius:50%;
	margin: 93px 0 0  -175px;
	border: 1px solid #fff;
	padding:7px;
	background: lightblue;
}
.profile-name {
	font-size: 25px;
	font-weight: bold;
	margin: 27px 0 0 120px;

}
.about {
	margin-top: 35px;
	line-height: 21px;
}